<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Artificial Gold - Software Development and Management</title>

    <!-- Bootstrap Core CSS -->
    <link href="content/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="content/css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body> 

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Artificial Gold</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="https://www.linkedin.com/in/andrewmetcalfe" target="_blank">LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://github.com/artificialgold/" target="_blank">GitHub</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/artificialgold/" target="_blank">Twitter</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Artificial Gold - Software Development</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>Web Development Manager</h2>
                <p>This website is to help me provide links to social media, github and to help me learn more skills as I do that.</p>
                <p>I am guessing most people will view this site from seeing the domain name at the end of my email address. That is fine, please forgive any inaccuracies in code or content.</p>
                <p>I have recently finished a 6 year period working @ <a href="http://www.opentable.com" target="_blank">Opentable</a>. I am now looking for my next role, feel free to get in touch.</p>
                
            </div>
            <div class="col-sm-4">
                <h2>Contact Me</h2>
                <address>
                    <strong>Artificial Gold</strong>
                    <br>Wanstead
                    <br>East London
                    <br>
                </address>
                <address>
                    <abbr title="Email">Email:</abbr>&nbsp;<a href="mailto:info@artificialgold.com">info@artificialgold.com</a>
                    <br>
                    <abbr title="Twitter">Twitter:</abbr>&nbsp;<a href="https://twitter.com/artificialgold/" target="_blank">@artificialgold</a>
                    <br>
                    <abbr title="LinkedIn">LinkedIn:</abbr>&nbsp;<a href="https://www.linkedin.com/in/andrewmetcalfe" target="_blank">Profile</a>
                    <br>
                    <abbr title="GitHub">GitHub:</abbr>&nbsp;<a href="https://github.com/artificialgold/" target="_blank">Repositories</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/content/files/r4s.png" alt="Restaurants for sale">
                <h2>Restaurants for sale</h2>
                <p>Approached by a business agent to use expertise in listings and restaurants based website and apis we built this in collaboration and sell listings to many of the leading business agents in the UK.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/content/files/ot.png" alt="Opentable / toptable">
                <h2>OpenTable / toptable</h2>
                <p>For 6 years I worked for toptable and then OpenTable (on acquisition). Working on all parts of the consumer offering, including the main websites, apis for the whole stack and partner integrations. Most recently finished project was the launch of the redesigned opentable websites and a march towards international expansion.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="/content/files/montage.png" alt="Helping Start Ups">
                <h2>Helping Start-ups</h2>
                <p>I have worked with various start-ups through my Artificial Gold brand, including Lodging-World.com, couraud.com (main product now appraisd.com) and even small businesses such as mangotreehostel.com.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Artificial Gold 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="content/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="content/js/bootstrap.min.js"></script>

</body>

</html>
